
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    



    <script src="~/SPA/Controller/MainController.js"></script>
    <script src="~/SPA/App.js"></script>

    <title>Index</title>

</head >
<body>
     <div ng-app="App" ng-controller="MainController">
         
         <div>
             <ul>
                 <li>
                     <i ng-repeat="y in models.columnIds">
                         <button type="button" class="btn btn-default" ng-click="inputMove(y)"> {{y}} </button>
                     </i>

                 </li>
            </ul>
        </div>
         <div>
                <ol>
                   
                    <li ng-repeat="row in models.gameBoard">
                        <i ng-repeat="col in row track by $index">
                            <button type="button" class="btn btn-default">{{col}}</button>
                        </i>

                    </li>
                </ol>
         </div>

         <div>
             <span>{{boardDimensionTest}}</span>
         </div>
     </div>
</body>
</html >
